/** * Eric Meyers Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */ html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none; } table { border-collapse: collapse; border-spacing: 0; }

#page{
	font-family:"Georgia", verdana;
	margin:3.6%;
	line-height:1.5rem;
	width:80;
	margin:0 auto;
	padding:2%;
	font-size:1.1rem;
}
.menu{
	display:none;
}
#page h1{
	padding-bottom:2rem;
	text-align:center;
	font-size:2rem;
	line-height:1.5rem;
}
#page h3{
	padding:1%;
	font-size:1.7rem;
}
#home a{
	text-decoration:none;
}
#navbar h1, h2{
	text-align:center;
	padding-bottom:0rem;
	font-size:2rem;
	
}
#navbar{
	background-color:#ffffff;
} 
nav ul{
	display:flex;
	padding-left:8rem;
}
nav ul li{
	display:block;
	padding:2%;
	font-size:1.5rem;
}
nav ul li a{
	color:#000080;
}

#navbar img{
	display:flex;
	position:absolute;
	padding-right:1rem;
}	

.carousel img{
	width:100%;
	height:500px;
}

.homeimg ul{
	display:flex;
	justify-content: space-between;
	padding-top:2rem;
	font-size:1.5rem;
}
.homeimg ul li{
	text-align:center;
}
.homeimg {
  position: relative;
  text-align: center;
  color: white;
}
.pictureWriting1{
	position: absolute;
	bottom: 8px;
	left: 16px;
	
}
.pictureWriting2{
	position: absolute;
	bottom: 8px;
	left: 400px;
}
.pictureWriting3{
	position: absolute;
	bottom: 6px;
	left: 720px;
}

.top img{
	display:flex;
	padding:1%;
}
.topplace{
	padding:2%;
}

.picture1{
	position: absolute;
	bottom:0.5px;
	left: 16px;
	background-color:#000066;
}
.picture2{
	position: absolute;
	bottom:0.5px;
	left: 400px;
	background-color:#000066;
}
.picture3{
	position: absolute; 
	bottom:0.5px;
	left: 720px;
	background-color:#000066;
}
.picture4{
	position: absolute;
	bottom:0.5px;
	left: 16px;
	background-color:#000066;
}
.picture5{
	position: absolute;
	bottom:0.5px;
	left: 400px;
	background-color:#000066;
}
.picture6{
	position: absolute;
	bottom:0.5px;	
	left: 720px;
	background-color:#000066;
}
.picture7{
	position: absolute;
	bottom:0.5px;	
	left: 16px;
	background-color:#000066;
}
.picture8{
	position: absolute;
	bottom:0.5px;	
	left: 400px;
	background-color:#000066;
}
.picture9{
	position: absolute;
	bottom:0.5px;		
	left: 720px;
	background-color:#000066;
}
.act1{
	position: absolute;
	left: 25px;
	background-color:#000066;
	
}
.act2{
	position: absolute;
	left: 375px;
	background-color:#000066;
}
.act3{
	position: absolute;
	left: 725px;
	background-color:#000066;
}
.southplace{
	text-align:center;
	border-bottom:5px solid #ffb380;
}
.southplace p{
	text-align:left;
	padding-bottom:1rem;
}
.link1{
	text-align:left;
	background-color:#000066;
	color:#ffffff;
	padding:1rem;
	border-radius: 25px;
}

.navimage{
	width:100%;
}

.navimage h1{
	position: absolute;
	font-size:2rem;
	left:550px;
	padding:2%;
	color:#ffffff;
}
#aboutpage p{
	line-height:1.5rem;
	font-size:1.2rem;
}
#booking1{
	border:5px solid #ffb380;
	padding:9%;
}
.btn{
	background-color:#000066;
	color:#ffffff;
	padding:1rem;
	border-radius: 25px;
}
footer{
	padding:5%;
	background-color:#b4b4b4;
}
footer ul li{
	line-height:1.5rem;
}
.otherpages ul{
	display:flex;
	display:list-item;
	padding:1%;
	
}
.SubscribeClass p{
	padding-bottom:2%;
	padding-top:2%;
	font-size:1.2rem;
}
.SubscribeClass{
	border:5px solid #ffb380;
	padding:5%;
}
.paragraphT{
	padding:2%;
}
.feedback{
	border:5px solid #ffb380;
	padding:5%;
}
.southplace{
	padding:2%;
}
.southplace img{
	padding-top:1%;
	padding-bottom:1%;
}

footer{
	clear:both;
}
footer a {
	color:#005ce6;
}

.followpages ul{
	padding-top:1rem;
	display:flex;
	display:list-item;
	padding:1%;
}
.footergeneral ul{
	display:flex;
}
.footergeneral ul li{
	border-right: 2px solid black;
	padding-right:0.5rem;
	padding-left:0.5rem;
}
.followpages ul, ul li{
	display:flex;
	padding:0.25rem;
}
.info img{
	padding-right:0.5rem;
}
.followpages{
	float:right;
	width:350px;
}
.liveandTransport ul {
	position: absolute;
	left:380px;
	padding:0.5rem;

	
}
.liveandTransport h4 {
	position: absolute;
	left:380px;
	
}
.break2{
	padding:2rem;
}
.workBreak1{
	float:right;
}
.workbreak h4{
	padding-bottom:0.5rem;
}
.workbreak1 h4{
	padding-bottom:0.5rem;
}
.aboutD{
	background-image:url("images/blueba.jpg");
	background-size:cover; 
	background-attachment:fixed;
	color:white;
	padding:2rem;
}


@media screen and (max-width:675px){
	#home {
		width:100%;
		
	}
	footer{
		width:100%;
		float:none;
		overflow:hidden;
	}
	nav ul {
		flex-direction: column;
	}
	nav li a {
		display:block;
		padding:5px;
		border-bottom: 1px solid #aaaaaa;
	}
	nav ul li{
		display:block;
	}
	nav a {
		 display:block;
		padding:0.5rem;
		border-bottom: 1px solid #fff; 
	
	}
	#navbar img{
		display:none;
	} 
	#navbar h1,h2{
		text-align:center;
		font-size:1rem;
	}
	
	.menu {
		display:block;
	}
	nav ul {
		max-height:0rem;
		overflow:hidden;
	}
	.open {
		max-height:60rem;
	}
	.homeimg ul{
		flex-direction:column;
	}
	.pictureWriting1, .pictureWriting2, .pictureWriting3{
		display:none;
	}
	.navimg{
		width:100%;
	}
	.navimg h1{
		text-align:center;
	}
	.southplace img{
		width:300px;
	}
	.followpages ul{
		display:none;
	}
	.followpages h4{
		display:none;
	}
	
	.liveandTransport ul {
	position: absolute;
	left:245px;
	
	}
	.liveandTransport h4 {
	position: absolute;
	left:245px;
	} 
	.topplace img{
		width:300px;
	}
	.picture1, .picture2, .picture3, .picture4, .picture5{
		display:none; 
	}
	.picture6, .picture7, .picture8, .picture9{
		display:none; 
	}
	.act1, .act2, .act3{
		left:10px;
	}
	

}
@media screen and (max-width: 850px ){
	#home {
		width:100%;
		
	}
	footer{
		width:100%;
	}
	#navbar {
		width:100%;
		margin-bottom: 1rem;
	}
	.navimg{
		width:100%;
	}

	nav {
		width:100%;
	}
	.followpages ul{
		display:none;
	}
	.followpages h4{
		display:none;
	}
}

@media screen and (max-width: 1000px ){
	#home {
		width:100%;
		
	}
	footer{
		width:100%;
	}
	#navbar {
		width:100%;
		margin-bottom: 1rem;
	}

	nav {
		width:100%;
	}
}





